node_modules/
dist/
.vite/
*.log
logs/
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment files
.env
.env.local
.env.*.local

# Ignore temp files only, keep content JSONs
content/*.tmp-*


/src/generated/prisma
.vercel
